@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(223, 241, 252);
	/* background-color: rgb(223, 241, 252); */
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: #a8daca;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #a8daca !important;
}
